fastapi
uvicorn
langchain
langchain-fireworks
pymongo
pydantic
langchain-mongodb
python-dotenv
requests
azure-core
azure-devops
msrest
kink
mlflow
langchain-community
beautifulsoup4
chromadb
tiktoken
evaluate
transformers
textstat
ragas