fastapi
uvicorn
langchain
langchain-fireworks
pymongo
pydantic
langchain-mongodb
python-dotenv
requests
azure-core
azure-devops
msrest
kink
google-cloud-firestore
langchain-google-firestore
langchain-google-vertexai
functions-framework
google-events
google-genai